node_modules
validator/node_modules
.DS_Store
coverage
jsonschema/apis/Manifest_v1_000a.json
jsonschema/apis/Manifest_v1_000a.json
jsonschema/schemas/Manifest_1_000.json.bak
jsonschema/apis/Manifest_v1_000.json.bak
