swagger: '2.0'
info:
  version: v1
  title: TOTVS API v2
host: prj-gcadbh.rm.cloudtotvs.com.br:8051
basePath: /api
schemes:
  - https
definitions:
  System.Object:
    type: object
    properties: {}
  RM.Lib.Api.ApiQuery:
    type: object
    properties:
      attributes:
        type: string
      sortBy:
        type: string
      sortOrder:
        type: string
      startIndex:
        format: int32
        type: integer
      count:
        format: int32
        type: integer
      expand:
        type: string
      fields:
        type: string
      filter:
        type: array
        items:
          $ref: '#/definitions/System.Object'
      order:
        type: string
      page:
        format: int32
        type: integer
      pageSize:
        format: int32
        type: integer
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Edu.API.Students.AbsencesDetail.AbsencesDetail-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Edu.API.Students.AbsencesDetail.AbsencesDetail-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Edu.API.Students.AbsencesDetail.AbsencesDetail-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.Edu.API.Students.AbsencesDetail.AbsencesDetail'
      total:
        format: int32
        type: integer
  Newtonsoft.Json.JsonSerializerSettings:
    type: object
    properties:
      referenceLoopHandling:
        format: int32
        enum:
          - 0
          - 1
          - 2
        type: integer
      missingMemberHandling:
        format: int32
        enum:
          - 0
          - 1
        type: integer
      objectCreationHandling:
        format: int32
        enum:
          - 0
          - 1
          - 2
        type: integer
      nullValueHandling:
        format: int32
        enum:
          - 0
          - 1
        type: integer
      defaultValueHandling:
        format: int32
        enum:
          - 0
          - 1
          - 2
          - 3
        type: integer
      converters:
        type: array
        items:
          $ref: '#/definitions/Newtonsoft.Json.JsonConverter'
      preserveReferencesHandling:
        format: int32
        enum:
          - 0
          - 1
          - 2
          - 3
        type: integer
      typeNameHandling:
        format: int32
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
        type: integer
      metadataPropertyHandling:
        format: int32
        enum:
          - 0
          - 1
          - 2
        type: integer
      typeNameAssemblyFormat:
        format: int32
        enum:
          - 0
          - 1
        type: integer
      typeNameAssemblyFormatHandling:
        format: int32
        enum:
          - 0
          - 1
        type: integer
      constructorHandling:
        format: int32
        enum:
          - 0
          - 1
        type: integer
      contractResolver:
        $ref: '#/definitions/Newtonsoft.Json.Serialization.IContractResolver'
      equalityComparer:
        $ref: '#/definitions/System.Collections.IEqualityComparer'
      referenceResolver:
        $ref: '#/definitions/Newtonsoft.Json.Serialization.IReferenceResolver'
      referenceResolverProvider:
        $ref: '#/definitions/System.Func/-Newtonsoft.Json.Serialization.IReferenceResolver-/'
      traceWriter:
        $ref: '#/definitions/Newtonsoft.Json.Serialization.ITraceWriter'
      binder:
        $ref: '#/definitions/System.Runtime.Serialization.SerializationBinder'
      serializationBinder:
        $ref: '#/definitions/Newtonsoft.Json.Serialization.ISerializationBinder'
      error:
        $ref: '#/definitions/System.Object'
      context:
        $ref: '#/definitions/System.Runtime.Serialization.StreamingContext'
      dateFormatString:
        type: string
      maxDepth:
        format: int32
        type: integer
      formatting:
        format: int32
        enum:
          - 0
          - 1
        type: integer
      dateFormatHandling:
        format: int32
        enum:
          - 0
          - 1
        type: integer
      dateTimeZoneHandling:
        format: int32
        enum:
          - 0
          - 1
          - 2
          - 3
        type: integer
      dateParseHandling:
        format: int32
        enum:
          - 0
          - 1
          - 2
        type: integer
      floatFormatHandling:
        format: int32
        enum:
          - 0
          - 1
          - 2
        type: integer
      floatParseHandling:
        format: int32
        enum:
          - 0
          - 1
        type: integer
      stringEscapeHandling:
        format: int32
        enum:
          - 0
          - 1
          - 2
        type: integer
      culture:
        type: string
      checkAdditionalContent:
        type: boolean
  System.Text.Encoding:
    type: object
    properties:
      bodyName:
        type: string
        readOnly: true
      encodingName:
        type: string
        readOnly: true
      headerName:
        type: string
        readOnly: true
      webName:
        type: string
        readOnly: true
      windowsCodePage:
        format: int32
        type: integer
        readOnly: true
      isBrowserDisplay:
        type: boolean
        readOnly: true
      isBrowserSave:
        type: boolean
        readOnly: true
      isMailNewsDisplay:
        type: boolean
        readOnly: true
      isMailNewsSave:
        type: boolean
        readOnly: true
      isSingleByte:
        type: boolean
        readOnly: true
      encoderFallback:
        $ref: '#/definitions/System.Text.EncoderFallback'
      decoderFallback:
        $ref: '#/definitions/System.Text.DecoderFallback'
      isReadOnly:
        type: boolean
        readOnly: true
      codePage:
        format: int32
        type: integer
        readOnly: true
  RM.Edu.API.Students.AbsencesDetail.AbsencesDetail:
    type: object
    properties:
      internalId:
        type: string
      absencesDetails:
        type: array
        items:
          $ref: '#/definitions/AbsenceDetail'
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  Newtonsoft.Json.JsonConverter:
    type: object
    properties:
      canRead:
        type: boolean
        readOnly: true
      canWrite:
        type: boolean
        readOnly: true
  Newtonsoft.Json.Serialization.IContractResolver:
    type: object
    properties: {}
  System.Collections.IEqualityComparer:
    type: object
    properties: {}
  Newtonsoft.Json.Serialization.IReferenceResolver:
    type: object
    properties: {}
  System.Func/-Newtonsoft.Json.Serialization.IReferenceResolver-/:
    type: object
    properties:
      method:
        $ref: '#/definitions/System.Reflection.MethodInfo'
        readOnly: true
      target:
        $ref: '#/definitions/System.Object'
        readOnly: true
  Newtonsoft.Json.Serialization.ITraceWriter:
    type: object
    properties:
      levelFilter:
        format: int32
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
        type: integer
        readOnly: true
  System.Runtime.Serialization.SerializationBinder:
    type: object
    properties: {}
  Newtonsoft.Json.Serialization.ISerializationBinder:
    type: object
    properties: {}
  System.Runtime.Serialization.StreamingContext:
    type: object
    properties:
      context:
        $ref: '#/definitions/System.Object'
        readOnly: true
      state:
        format: int32
        enum:
          - 1
          - 2
          - 4
          - 8
          - 16
          - 32
          - 64
          - 128
          - 255
        type: integer
        readOnly: true
  System.Text.EncoderFallback:
    type: object
    properties:
      maxCharCount:
        format: int32
        type: integer
        readOnly: true
  System.Text.DecoderFallback:
    type: object
    properties:
      maxCharCount:
        format: int32
        type: integer
        readOnly: true
  AbsenceDetail:
    type: object
    properties:
      companyCode:
        format: int32
        type: integer
      disciplineClassCode:
        format: int32
        type: integer
      planClassCode:
        format: int32
        type: integer
      hourClassCode:
        format: int32
        type: integer
      class:
        format: int32
        type: integer
      disciplineCode:
        type: string
      discipline:
        type: string
      dateAbsence:
        type: string
      date:
        type: string
      beginningHourDate:
        type: string
      endHourDate:
        type: string
      costumJustify:
        type: string
      allowanceAbsenceCostum:
        type: string
      reasonCostum:
        type: string
      absenceTotal:
        type: string
      presence:
        type: string
      justify:
        $ref: '#/definitions/System.Object'
      absenceStatus:
        type: string
  RM.Lib.Api.RMSApiLink:
    type: object
    properties:
      relation:
        type: string
      apiMetaData:
        type: string
      apiData:
        type: string
      type:
        enum:
          - Detail
          - Other
        type: string
      label:
        type: string
      mapper:
        type: object
        additionalProperties:
          $ref: '#/definitions/System.Object'
        readOnly: true
  System.Reflection.MethodInfo:
    type: object
    properties:
      memberType:
        format: int32
        enum:
          - 1
          - 2
          - 4
          - 8
          - 16
          - 32
          - 64
          - 128
          - 191
        type: integer
        readOnly: true
      returnType:
        type: string
        readOnly: true
      returnParameter:
        $ref: '#/definitions/System.Reflection.ParameterInfo'
        readOnly: true
      returnTypeCustomAttributes:
        $ref: '#/definitions/System.Reflection.ICustomAttributeProvider'
        readOnly: true
      methodImplementationFlags:
        format: int32
        enum:
          - 0
          - 0
          - 1
          - 2
          - 3
          - 3
          - 4
          - 4
          - 8
          - 16
          - 32
          - 64
          - 128
          - 256
          - 1024
          - 4096
          - 65535
        type: integer
        readOnly: true
      methodHandle:
        $ref: '#/definitions/System.Object'
        readOnly: true
      attributes:
        format: int32
        enum:
          - 0
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 16
          - 32
          - 64
          - 128
          - 256
          - 256
          - 512
          - 1024
          - 2048
          - 4096
          - 8192
          - 16384
          - 32768
          - 53248
        type: integer
        readOnly: true
      callingConvention:
        format: int32
        enum:
          - 1
          - 2
          - 3
          - 32
          - 64
        type: integer
        readOnly: true
      isGenericMethodDefinition:
        type: boolean
        readOnly: true
      containsGenericParameters:
        type: boolean
        readOnly: true
      isGenericMethod:
        type: boolean
        readOnly: true
      isSecurityCritical:
        type: boolean
        readOnly: true
      isSecuritySafeCritical:
        type: boolean
        readOnly: true
      isSecurityTransparent:
        type: boolean
        readOnly: true
      isPublic:
        type: boolean
        readOnly: true
      isPrivate:
        type: boolean
        readOnly: true
      isFamily:
        type: boolean
        readOnly: true
      isAssembly:
        type: boolean
        readOnly: true
      isFamilyAndAssembly:
        type: boolean
        readOnly: true
      isFamilyOrAssembly:
        type: boolean
        readOnly: true
      isStatic:
        type: boolean
        readOnly: true
      isFinal:
        type: boolean
        readOnly: true
      isVirtual:
        type: boolean
        readOnly: true
      isHideBySig:
        type: boolean
        readOnly: true
      isAbstract:
        type: boolean
        readOnly: true
      isSpecialName:
        type: boolean
        readOnly: true
      isConstructor:
        type: boolean
        readOnly: true
      name:
        type: string
        readOnly: true
      declaringType:
        type: string
        readOnly: true
      reflectedType:
        type: string
        readOnly: true
      customAttributes:
        type: array
        items:
          $ref: '#/definitions/System.Reflection.CustomAttributeData'
        readOnly: true
      metadataToken:
        format: int32
        type: integer
        readOnly: true
      module:
        $ref: '#/definitions/System.Object'
        readOnly: true
  System.Reflection.ParameterInfo:
    type: object
    properties:
      parameterType:
        type: string
        readOnly: true
      name:
        type: string
        readOnly: true
      hasDefaultValue:
        type: boolean
        readOnly: true
      defaultValue:
        $ref: '#/definitions/System.Object'
        readOnly: true
      rawDefaultValue:
        $ref: '#/definitions/System.Object'
        readOnly: true
      position:
        format: int32
        type: integer
        readOnly: true
      attributes:
        format: int32
        enum:
          - 0
          - 1
          - 2
          - 4
          - 8
          - 16
          - 4096
          - 8192
          - 16384
          - 32768
          - 61440
        type: integer
        readOnly: true
      member:
        $ref: '#/definitions/System.Reflection.MemberInfo'
        readOnly: true
      isIn:
        type: boolean
        readOnly: true
      isOut:
        type: boolean
        readOnly: true
      isLcid:
        type: boolean
        readOnly: true
      isRetval:
        type: boolean
        readOnly: true
      isOptional:
        type: boolean
        readOnly: true
      metadataToken:
        format: int32
        type: integer
        readOnly: true
      customAttributes:
        type: array
        items:
          $ref: '#/definitions/System.Reflection.CustomAttributeData'
        readOnly: true
  System.Reflection.ICustomAttributeProvider:
    type: object
    properties: {}
  System.Reflection.CustomAttributeData:
    type: object
    properties:
      attributeType:
        type: string
        readOnly: true
      constructor:
        $ref: '#/definitions/System.Reflection.ConstructorInfo'
        readOnly: true
      constructorArguments:
        type: array
        items:
          $ref: '#/definitions/System.Reflection.CustomAttributeTypedArgument'
        readOnly: true
      namedArguments:
        type: array
        items:
          $ref: '#/definitions/System.Reflection.CustomAttributeNamedArgument'
        readOnly: true
  System.Reflection.MemberInfo:
    type: object
    properties:
      memberType:
        format: int32
        enum:
          - 1
          - 2
          - 4
          - 8
          - 16
          - 32
          - 64
          - 128
          - 191
        type: integer
        readOnly: true
      name:
        type: string
        readOnly: true
      declaringType:
        type: string
        readOnly: true
      reflectedType:
        type: string
        readOnly: true
      customAttributes:
        type: array
        items:
          $ref: '#/definitions/System.Reflection.CustomAttributeData'
        readOnly: true
      metadataToken:
        format: int32
        type: integer
        readOnly: true
      module:
        $ref: '#/definitions/System.Object'
        readOnly: true
  System.Reflection.ConstructorInfo:
    type: object
    properties:
      memberType:
        format: int32
        enum:
          - 1
          - 2
          - 4
          - 8
          - 16
          - 32
          - 64
          - 128
          - 191
        type: integer
        readOnly: true
      methodImplementationFlags:
        format: int32
        enum:
          - 0
          - 0
          - 1
          - 2
          - 3
          - 3
          - 4
          - 4
          - 8
          - 16
          - 32
          - 64
          - 128
          - 256
          - 1024
          - 4096
          - 65535
        type: integer
        readOnly: true
      methodHandle:
        $ref: '#/definitions/System.Object'
        readOnly: true
      attributes:
        format: int32
        enum:
          - 0
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 16
          - 32
          - 64
          - 128
          - 256
          - 256
          - 512
          - 1024
          - 2048
          - 4096
          - 8192
          - 16384
          - 32768
          - 53248
        type: integer
        readOnly: true
      callingConvention:
        format: int32
        enum:
          - 1
          - 2
          - 3
          - 32
          - 64
        type: integer
        readOnly: true
      isGenericMethodDefinition:
        type: boolean
        readOnly: true
      containsGenericParameters:
        type: boolean
        readOnly: true
      isGenericMethod:
        type: boolean
        readOnly: true
      isSecurityCritical:
        type: boolean
        readOnly: true
      isSecuritySafeCritical:
        type: boolean
        readOnly: true
      isSecurityTransparent:
        type: boolean
        readOnly: true
      isPublic:
        type: boolean
        readOnly: true
      isPrivate:
        type: boolean
        readOnly: true
      isFamily:
        type: boolean
        readOnly: true
      isAssembly:
        type: boolean
        readOnly: true
      isFamilyAndAssembly:
        type: boolean
        readOnly: true
      isFamilyOrAssembly:
        type: boolean
        readOnly: true
      isStatic:
        type: boolean
        readOnly: true
      isFinal:
        type: boolean
        readOnly: true
      isVirtual:
        type: boolean
        readOnly: true
      isHideBySig:
        type: boolean
        readOnly: true
      isAbstract:
        type: boolean
        readOnly: true
      isSpecialName:
        type: boolean
        readOnly: true
      isConstructor:
        type: boolean
        readOnly: true
      name:
        type: string
        readOnly: true
      declaringType:
        type: string
        readOnly: true
      reflectedType:
        type: string
        readOnly: true
      customAttributes:
        type: array
        items:
          $ref: '#/definitions/System.Reflection.CustomAttributeData'
        readOnly: true
      metadataToken:
        format: int32
        type: integer
        readOnly: true
      module:
        $ref: '#/definitions/System.Object'
        readOnly: true
  System.Reflection.CustomAttributeTypedArgument:
    type: object
    properties:
      argumentType:
        type: string
        readOnly: true
      value:
        $ref: '#/definitions/System.Object'
        readOnly: true
  System.Reflection.CustomAttributeNamedArgument:
    type: object
    properties:
      memberInfo:
        $ref: '#/definitions/System.Reflection.MemberInfo'
        readOnly: true
      typedValue:
        $ref: '#/definitions/System.Reflection.CustomAttributeTypedArgument'
        readOnly: true
      memberName:
        type: string
        readOnly: true
      isField:
        type: boolean
        readOnly: true
  RM.Lib.Api.RMSJsonResult/-RM.Edu.API.Students.AbsencesDetail.AbsencesDetail-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.Edu.API.Students.AbsencesDetail.AbsencesDetail-/'
  System.Web.Http.Results.JsonResult/-RM.Edu.API.Students.AbsencesDetail.AbsencesDetail-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Edu.API.Students.AbsencesDetail.AbsencesDetail'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Edu.API.Academic.Status-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Edu.API.Academic.Status-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Edu.API.Academic.Status-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.Edu.API.Academic.Status'
      total:
        format: int32
        type: integer
  RM.Edu.API.Academic.Status:
    type: object
    properties:
      internalId:
        type: string
      statusCode:
        format: int32
        type: integer
      statusDescription:
        type: string
      blockChangesGradesAbsences:
        type: boolean
      availableTypingGradesAbsences:
        type: boolean
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Lib.Api.RMSJsonResult/-RM.Edu.API.Academic.Status-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.Edu.API.Academic.Status-/'
  System.Web.Http.Results.JsonResult/-RM.Edu.API.Academic.Status-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Edu.API.Academic.Status'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Ctb.Api.AccountingDimensionEntities.AccountingDimensionEntitiesModel-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Ctb.Api.AccountingDimensionEntities.AccountingDimensionEntitiesModel-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Ctb.Api.AccountingDimensionEntities.AccountingDimensionEntitiesModel-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.Ctb.Api.AccountingDimensionEntities.AccountingDimensionEntitiesModel'
      total:
        format: int32
        type: integer
  RM.Ctb.Api.AccountingDimensionEntities.AccountingDimensionEntitiesModel:
    type: object
    properties:
      entity:
        type: string
      relatedEntity:
        type: string
      description:
        type: string
      apportionmentAllow:
        type: boolean
      globalAllow:
        type: boolean
      pkEntity:
        type: string
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Lib.Api.RMSJsonResult/-RM.Ctb.Api.AccountingDimensionEntities.AccountingDimensionEntitiesModel-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.Ctb.Api.AccountingDimensionEntities.AccountingDimensionEntitiesModel-/'
  System.Web.Http.Results.JsonResult/-RM.Ctb.Api.AccountingDimensionEntities.AccountingDimensionEntitiesModel-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Ctb.Api.AccountingDimensionEntities.AccountingDimensionEntitiesModel'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Sau.Cadastros.Dto.ActiveIngredient-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Sau.Cadastros.Dto.ActiveIngredient-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Sau.Cadastros.Dto.ActiveIngredient-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.Sau.Cadastros.Dto.ActiveIngredient'
      total:
        format: int32
        type: integer
  RM.Sau.Cadastros.Dto.ActiveIngredient:
    type: object
    properties:
      key:
        $ref: '#/definitions/RM.Sau.Shared.ActiveIngredient.ActiveIngredientKey'
      description:
        type: string
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Sau.Shared.ActiveIngredient.ActiveIngredientKey:
    type: object
    properties:
      companyId:
        format: int32
        type: integer
        readOnly: true
      id:
        format: int32
        type: integer
        readOnly: true
  RM.Lib.Api.RMSJsonResult/-RM.Sau.Cadastros.Dto.ActiveIngredient-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.Sau.Cadastros.Dto.ActiveIngredient-/'
  System.Web.Http.Results.JsonResult/-RM.Sau.Cadastros.Dto.ActiveIngredient-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Sau.Cadastros.Dto.ActiveIngredient'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Fop.Api.Model.Entities.AdditionalDto-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Fop.Api.Model.Entities.AdditionalDto-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Fop.Api.Model.Entities.AdditionalDto-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.Fop.Api.Model.Entities.AdditionalDto'
      total:
        format: int32
        type: integer
  RM.Fop.Api.Model.Entities.AdditionalDto:
    type: object
    properties:
      id:
        type: string
      companyId:
        type: string
      branchId:
        type: string
      employeeId:
        type: string
      unhealthyDegree:
        type: string
      dangerousness:
        type: string
      entryDate:
        type: string
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Lib.Api.RMSJsonResult/-RM.Fop.Api.Model.Entities.AdditionalDto-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.Fop.Api.Model.Entities.AdditionalDto-/'
  System.Web.Http.Results.JsonResult/-RM.Fop.Api.Model.Entities.AdditionalDto-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Fop.Api.Model.Entities.AdditionalDto'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Edu.API.Students.AdvancedSearch.AdvancedSearch-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Edu.API.Students.AdvancedSearch.AdvancedSearch-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Edu.API.Students.AdvancedSearch.AdvancedSearch-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.Edu.API.Students.AdvancedSearch.AdvancedSearch'
      total:
        format: int32
        type: integer
  RM.Edu.API.Students.AdvancedSearch.AdvancedSearch:
    type: object
    properties:
      inernalId:
        type: string
      companies:
        type: array
        items:
          $ref: '#/definitions/RM.Edu.API.Students.AdvancedSearch.CompanySearch'
      courses:
        type: array
        items:
          $ref: '#/definitions/RM.Edu.API.Students.AdvancedSearch.CourseSearch'
      terms:
        type: array
        items:
          $ref: '#/definitions/RM.Edu.API.Students.AdvancedSearch.TermSearch'
      gradeOrPeriods:
        type: array
        items:
          $ref: '#/definitions/RM.Edu.API.Students.AdvancedSearch.GradeOrPeriodSearch'
      shifts:
        type: array
        items:
          $ref: '#/definitions/RM.Edu.API.Students.AdvancedSearch.ShiftSearch'
      classes:
        type: array
        items:
          $ref: '#/definitions/RM.Edu.API.Students.AdvancedSearch.ClassSearch'
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Edu.API.Students.AdvancedSearch.CompanySearch:
    type: object
    properties:
      companyCode:
        format: int32
        type: integer
      companyDescription:
        type: string
      branches:
        type: array
        items:
          $ref: '#/definitions/RM.Edu.API.Students.AdvancedSearch.BranchSearch'
  RM.Edu.API.Students.AdvancedSearch.CourseSearch:
    type: object
    properties:
      courseCode:
        type: string
      courseDescription:
        type: string
  RM.Edu.API.Students.AdvancedSearch.TermSearch:
    type: object
    properties:
      termCode:
        format: int32
        type: integer
      termCodeDescription:
        type: string
  RM.Edu.API.Students.AdvancedSearch.GradeOrPeriodSearch:
    type: object
    properties:
      gradeOrPeriodCode:
        format: int32
        type: integer
      gradeOrPeriodDescription:
        type: string
  RM.Edu.API.Students.AdvancedSearch.ShiftSearch:
    type: object
    properties:
      shiftCode:
        type: string
      shiftDescription:
        type: string
  RM.Edu.API.Students.AdvancedSearch.ClassSearch:
    type: object
    properties:
      classCode:
        type: string
      className:
        type: string
  RM.Edu.API.Students.AdvancedSearch.BranchSearch:
    type: object
    properties:
      branchCode:
        format: int32
        type: integer
      branchDescription:
        type: string
      levelEducations:
        type: array
        items:
          $ref: '#/definitions/RM.Edu.API.Students.AdvancedSearch.LevelEducationSearch'
  RM.Edu.API.Students.AdvancedSearch.LevelEducationSearch:
    type: object
    properties:
      levelEducationCode:
        format: int32
        type: integer
      levelEducationDescription:
        type: string
      levelEducationType:
        format: int32
        type: integer
  RM.Lib.Api.RMSJsonResult/-RM.Edu.API.Students.AdvancedSearch.AdvancedSearch-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.Edu.API.Students.AdvancedSearch.AdvancedSearch-/'
  System.Web.Http.Results.JsonResult/-RM.Edu.API.Students.AdvancedSearch.AdvancedSearch-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Edu.API.Students.AdvancedSearch.AdvancedSearch'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Pep.Alergia.IService.UIModel.Alergia-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Pep.Alergia.IService.UIModel.Alergia-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Pep.Alergia.IService.UIModel.Alergia-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.Pep.Alergia.IService.UIModel.Alergia'
      total:
        format: int32
        type: integer
  RM.Pep.Alergia.IService.UIModel.Alergia:
    type: object
    properties:
      id:
        format: int32
        type: integer
      patientId:
        format: int32
        type: integer
      activeIngredient:
        $ref: '#/definitions/RM.Pep.Alergia.IService.UIModel.ActiveIngredient'
      active:
        type: boolean
      reaction:
        type: string
      recommendedBehavior:
        type: string
      professionalId:
        format: int32
        type: integer
      professionalName:
        type: string
      modifiedDateTime:
        format: date-time
        type: string
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Pep.Alergia.IService.UIModel.ActiveIngredient:
    type: object
    properties:
      id:
        format: int32
        type: integer
      description:
        type: string
  RM.Lib.Api.RMSJsonResult/-RM.Pep.Alergia.IService.UIModel.Alergia-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.Pep.Alergia.IService.UIModel.Alergia-/'
  System.Web.Http.Results.JsonResult/-RM.Pep.Alergia.IService.UIModel.Alergia-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Pep.Alergia.IService.UIModel.Alergia'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Pep.AlertaClinico.IService.UIModel.Alert-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Pep.AlertaClinico.IService.UIModel.Alert-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Pep.AlertaClinico.IService.UIModel.Alert-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.Pep.AlertaClinico.IService.UIModel.Alert'
      total:
        format: int32
        type: integer
  RM.Pep.AlertaClinico.IService.UIModel.Alert:
    type: object
    properties:
      id:
        format: int32
        type: integer
      description:
        type: string
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Lib.Api.RMSJsonResult/-RM.Pep.AlertaClinico.IService.UIModel.Alert-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.Pep.AlertaClinico.IService.UIModel.Alert-/'
  System.Web.Http.Results.JsonResult/-RM.Pep.AlertaClinico.IService.UIModel.Alert-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Pep.AlertaClinico.IService.UIModel.Alert'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Pto.Api.Model.AllowanceDto-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Pto.Api.Model.AllowanceDto-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Pto.Api.Model.AllowanceDto-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.Pto.Api.Model.AllowanceDto'
      total:
        format: int32
        type: integer
  RM.Pto.Api.Model.AllowanceDto:
    type: object
    properties:
      id:
        type: string
      companyId:
        type: string
      branchId:
        type: string
      code:
        type: string
      employeeId:
        type: string
      startDate:
        type: string
      startTime:
        type: string
      endDate:
        type: string
      endTime:
        type: string
      justification:
        type: string
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Lib.Api.RMSJsonResult/-RM.Pto.Api.Model.AllowanceDto-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.Pto.Api.Model.AllowanceDto-/'
  System.Web.Http.Results.JsonResult/-RM.Pto.Api.Model.AllowanceDto-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Pto.Api.Model.AllowanceDto'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Pto.Api.Model.AllowanceTypeDto-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Pto.Api.Model.AllowanceTypeDto-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Pto.Api.Model.AllowanceTypeDto-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.Pto.Api.Model.AllowanceTypeDto'
      total:
        format: int32
        type: integer
  RM.Pto.Api.Model.AllowanceTypeDto:
    type: object
    properties:
      id:
        type: string
      companyId:
        type: string
      branchId:
        type: string
      code:
        type: string
      name:
        type: string
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Lib.Api.RMSJsonResult/-RM.Pto.Api.Model.AllowanceTypeDto-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.Pto.Api.Model.AllowanceTypeDto-/'
  System.Web.Http.Results.JsonResult/-RM.Pto.Api.Model.AllowanceTypeDto-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Pto.Api.Model.AllowanceTypeDto'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.RMSJsonResult/-RM.Pep.Anamnesis.Model.AnamnesisHeaderUIModel-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.Pep.Anamnesis.Model.AnamnesisHeaderUIModel-/'
  System.Web.Http.Results.JsonResult/-RM.Pep.Anamnesis.Model.AnamnesisHeaderUIModel-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Pep.Anamnesis.Model.AnamnesisHeaderUIModel'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Pep.Anamnesis.Model.AnamnesisHeaderUIModel:
    type: object
    properties:
      key:
        $ref: '#/definitions/RM.Pep.Shared.Keys.AnamnesisHeaderKey'
      patientId:
        format: int32
        type: integer
      professionalId:
        format: int32
        type: integer
      attendanceId:
        format: int32
        type: integer
      careUnitId:
        format: int32
        type: integer
      careUnitDescription:
        type: string
      professionalName:
        type: string
      modifiedDateTime:
        format: date-time
        type: string
      lastAnamnesis:
        $ref: '#/definitions/RM.Pep.Anamnesis.Model.AnamnesisUIModel'
      signProcessCod:
        format: int32
        type: integer
      statusProcesso:
        type: string
      historicoClinicoPep2:
        type: boolean
      hasRecordRestriction:
        type: boolean
      status:
        format: int32
        enum:
          - 0
          - 1
          - 2
          - 9
          - 10
        type: integer
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Pep.Shared.Keys.AnamnesisHeaderKey:
    type: object
    properties:
      companyId:
        format: int32
        type: integer
        readOnly: true
      id:
        format: int32
        type: integer
        readOnly: true
  RM.Pep.Anamnesis.Model.AnamnesisUIModel:
    type: object
    properties:
      key:
        $ref: '#/definitions/RM.Pep.Shared.Keys.AnamnesisKey'
      vitalSigns:
        $ref: '#/definitions/RM.Pep.Anamnesis.Model.VitalSignsUIModel'
      complaint:
        type: string
      saturation:
        format: double
        type: number
      physicalExam:
        type: string
      diagnosticHypothesis:
        type: string
      complement:
        type: string
      diagnosticApproach:
        type: string
      cidVersion:
        format: int32
        type: integer
      cidCode:
        type: string
      cidDescription:
        type: string
      signProcessCod:
        format: int32
        type: integer
      status:
        format: int32
        enum:
          - 0
          - 1
          - 2
          - 9
          - 10
        type: integer
  RM.Pep.Shared.Keys.AnamnesisKey:
    type: object
    properties:
      headerId:
        format: int64
        type: integer
      companyId:
        format: int32
        type: integer
        readOnly: true
      id:
        format: int32
        type: integer
        readOnly: true
  RM.Pep.Anamnesis.Model.VitalSignsUIModel:
    type: object
    properties:
      cardioFrequency:
        format: double
        type: number
      respiratoryFrequency:
        format: double
        type: number
      transesophagealTemp:
        format: double
        type: number
      bodyTemperature:
        format: double
        type: number
      weight:
        format: double
        type: number
      height:
        format: double
        type: number
      pas:
        format: double
        type: number
      pad:
        format: double
        type: number
      bmi:
        format: double
        type: number
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Pep.Anamnesis.Intf.Model.CidUIModel-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Pep.Anamnesis.Intf.Model.CidUIModel-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Pep.Anamnesis.Intf.Model.CidUIModel-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.Pep.Anamnesis.Intf.Model.CidUIModel'
      total:
        format: int32
        type: integer
  RM.Pep.Anamnesis.Intf.Model.CidUIModel:
    type: object
    properties:
      id:
        type: string
      description:
        type: string
      date:
        format: date-time
        type: string
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Pep.Anamnesis.Model.AnamnesisHeaderUIModel-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Pep.Anamnesis.Model.AnamnesisHeaderUIModel-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Pep.Anamnesis.Model.AnamnesisHeaderUIModel-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.Pep.Anamnesis.Model.AnamnesisHeaderUIModel'
      total:
        format: int32
        type: integer
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.EduPS.API.ApplicantResults-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.EduPS.API.ApplicantResults-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.EduPS.API.ApplicantResults-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.EduPS.API.ApplicantResults'
      total:
        format: int32
        type: integer
  RM.EduPS.API.ApplicantResults:
    type: object
    properties:
      _expandables:
        type: array
        items:
          type: string
      internalId:
        type: string
      companyCode:
        format: int32
        type: integer
      selectionProcessCode:
        format: int32
        type: integer
      selectionProcessDescription:
        type: string
      subscriptionNumber:
        format: int32
        type: integer
      chosenAreaCode:
        format: int32
        type: integer
      chosenAreaDescription:
        type: string
      applicantRegistryCode:
        type: string
      selectionProcessStatusCode:
        type: string
      selectionProcessStatusDescription:
        type: string
      completedStepDescription:
        type: string
      score:
        type: string
      classification:
        type: string
      vacancies:
        type: string
      chosenAreaStatusCode:
        type: string
      chosenAreaStatusDescription:
        type: string
      generalClassification:
        type: string
      generalScore:
        type: string
      hasVacanciesControl:
        type: string
      convocationList:
        type: string
      lastStep:
        type: string
      cancelationDate:
        type: string
      cancelationMotive:
        type: string
      chosenAreaNumber:
        format: int32
        type: integer
      optionalAreas:
        type: array
        items:
          $ref: '#/definitions/RM.EduPS.API.OptionalArea'
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.EduPS.API.OptionalArea:
    type: object
    properties:
      optionalAreaCode:
        format: int32
        type: integer
      optionalAreaDescription:
        type: string
      vacancies:
        type: string
      classification:
        type: string
      convocationList:
        type: string
      optionalAreaStatusCode:
        type: string
      optionalAreaStatusDescription:
        type: string
      chosenAreaNumber:
        format: int32
        type: integer
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Lib.Api.RMSJsonResult/-RM.EduPS.API.ApplicantResults-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.EduPS.API.ApplicantResults-/'
  System.Web.Http.Results.JsonResult/-RM.EduPS.API.ApplicantResults-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.EduPS.API.ApplicantResults'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.RMSDataServerController.ApiDataServerResponse:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        $ref: '#/definitions/System.Object'
      total:
        format: int32
        type: integer
  RM.Aud.Api.AudTotvsAuditConfigItem:
    type: object
    properties:
      enabled:
        type: boolean
      enabledLogLGPD:
        type: boolean
      noUseRequirements:
        type: boolean
  RM.Aud.Api.Controller.AudTotvsAuditConfigController.AudTotvsAuditConfigResultItem:
    type: object
    properties:
      lstStepsState:
        type: array
        items:
          $ref: '#/definitions/RM.Aud.AudRequirementResult'
  RM.Aud.AudRequirementResult:
    type: object
    properties:
      id:
        format: int32
        type: integer
      status:
        format: int32
        enum:
          - 0
          - 1
          - 2
        type: integer
      name:
        type: string
      message:
        type: string
      url:
        type: string
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Edu.Lib.API.BankBilletOnlineRegistrationDto-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Edu.Lib.API.BankBilletOnlineRegistrationDto-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Edu.Lib.API.BankBilletOnlineRegistrationDto-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.Edu.Lib.API.BankBilletOnlineRegistrationDto'
      total:
        format: int32
        type: integer
  RM.Edu.Lib.API.BankBilletOnlineRegistrationDto:
    type: object
    properties:
      companyCode:
        format: int32
        type: integer
      bankBilletCode:
        format: int32
        type: integer
      bankBilletRegistered:
        type: boolean
      canRegisterOnline:
        type: boolean
      ourNumberBanking:
        type: string
      ipte:
        type: string
      paymentChannel:
        format: int32
        type: integer
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Lib.Api.RMSJsonResult/-RM.Edu.Lib.API.BankBilletOnlineRegistrationDto-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.Edu.Lib.API.BankBilletOnlineRegistrationDto-/'
  System.Web.Http.Results.JsonResult/-RM.Edu.Lib.API.BankBilletOnlineRegistrationDto-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Edu.Lib.API.BankBilletOnlineRegistrationDto'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Fin.Lib.API.BankBillet.BankBilletDto-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Fin.Lib.API.BankBillet.BankBilletDto-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Fin.Lib.API.BankBillet.BankBilletDto-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.Fin.Lib.API.BankBillet.BankBilletDto'
      total:
        format: int32
        type: integer
  RM.Fin.Lib.API.BankBillet.BankBilletDto:
    type: object
    properties:
      companyCode:
        format: int32
        type: integer
      bankBilletCode:
        format: int32
        type: integer
      dueDate:
        format: date-time
        type: string
      ipte:
        type: string
      amount:
        format: double
        type: number
      qrCode:
        type: string
      qrCodeText:
        type: string
      link:
        type: string
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Lib.Api.RMSJsonResult/-RM.Fin.Lib.API.BankBillet.BankBilletDto-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.Fin.Lib.API.BankBillet.BankBilletDto-/'
  System.Web.Http.Results.JsonResult/-RM.Fin.Lib.API.BankBillet.BankBilletDto-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Fin.Lib.API.BankBillet.BankBilletDto'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Bib.Lib.Intf.API.BankBilletsDTO-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Bib.Lib.Intf.API.BankBilletsDTO-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Bib.Lib.Intf.API.BankBilletsDTO-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.Bib.Lib.Intf.API.BankBilletsDTO'
      total:
        format: int32
        type: integer
  RM.Bib.Lib.Intf.API.BankBilletsDTO:
    type: object
    properties:
      _expandables:
        type: array
        items:
          type: string
      internalId:
        type: string
      typeOfCharge:
        type: string
      clientCod:
        format: int32
        type: integer
      originalValue:
        format: double
        type: number
      creationDate:
        format: date-time
        type: string
      bankBilletCode:
        format: int32
        type: integer
      canPayWithCredit:
        type: boolean
      canPayWithDebit:
        type: boolean
      canPayWithBarCode:
        type: boolean
      canPayWithPix:
        type: boolean
      companyCode:
        format: int32
        type: integer
      bookLoanCode:
        format: int32
        type: integer
      financialEntryCode:
        format: int32
        type: integer
      penaltyValue:
        format: double
        type: number
      bookloanPaymentValue:
        format: double
        type: number
      bookloanFullPaymentValue:
        format: double
        type: number
      loanRepaymentDate:
        format: date-time
        type: string
      loanDate:
        format: date-time
        type: string
      financialSponsorName:
        type: string
      dueDate:
        format: date-time
        type: string
      statusBankBillet:
        type: string
      agrupedFinancial:
        type: array
        items:
          $ref: '#/definitions/RM.Bib.Lib.Intf.API.AgrupedFinancial'
      bankBilletPrint:
        $ref: '#/definitions/RM.Bib.Lib.Intf.API.BankBilletPrint'
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Bib.Lib.Intf.API.AgrupedFinancial:
    type: object
    properties:
      companyCode:
        format: int32
        type: integer
      bookLoanCode:
        format: int32
        type: integer
      financialEntryCode:
        format: int32
        type: integer
      penaltyValue:
        format: double
        type: number
      bookloanPaymentValue:
        format: double
        type: number
      bookloanFullPaymentValue:
        format: double
        type: number
      loanRepaymentDate:
        format: date-time
        type: string
      loanDate:
        format: date-time
        type: string
  RM.Bib.Lib.Intf.API.BankBilletPrint:
    type: object
    properties:
      bankBilletRegistered:
        type: boolean
      bytes:
        type: string
  RM.Lib.Api.RMSJsonResult/-RM.Bib.Lib.Intf.API.BankBilletsDTO-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.Bib.Lib.Intf.API.BankBilletsDTO-/'
  System.Web.Http.Results.JsonResult/-RM.Bib.Lib.Intf.API.BankBilletsDTO-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Bib.Lib.Intf.API.BankBilletsDTO'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Bis.TReports.Integration.Intf.BisTReportsParameter:
    type: object
    properties:
      name:
        type: string
      displayName:
        type: string
      type:
        type: string
      multiValue:
        type: boolean
  RM.Bis.TReports.Api.Dto.GenerateReportRequest:
    type: object
    properties:
      parameters:
        type: object
        additionalProperties:
          type: array
          items:
            $ref: '#/definitions/System.Object'
      downloadFileType:
        type: string
      timeOutMillisec:
        format: int32
        type: integer
  RM.Bis.TReports.Api.Dto.GenerateReportAsyncRequest:
    type: object
    properties:
      parameters:
        type: object
        additionalProperties:
          type: array
          items:
            $ref: '#/definitions/System.Object'
      downloadFileType:
        type: string
      codColigada:
        format: int32
        type: integer
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Bib.Lib.Intf.API.BookingDTO-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Bib.Lib.Intf.API.BookingDTO-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Bib.Lib.Intf.API.BookingDTO-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.Bib.Lib.Intf.API.BookingDTO'
      total:
        format: int32
        type: integer
  RM.Bib.Lib.Intf.API.BookingDTO:
    type: object
    properties:
      companyCode:
        format: int32
        type: integer
      branchCode:
        format: int32
        type: integer
      branchName:
        type: string
      libraryUnitCode:
        format: int32
        type: integer
      libraryUnitName:
        type: string
      customerCode:
        format: int32
        type: integer
      userCode:
        type: string
      title:
        type: string
      publicationType:
        type: string
      year:
        type: string
      edition:
        type: string
      bookingDate:
        format: date-time
        type: string
      status:
        type: string
      bookingCod:
        format: int32
        type: integer
      publicationCode:
        format: int32
        type: integer
      volumeCode:
        format: int32
        type: integer
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Lib.Api.RMSJsonResult/-RM.Bib.Lib.Intf.API.BookingDTO-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.Bib.Lib.Intf.API.BookingDTO-/'
  System.Web.Http.Results.JsonResult/-RM.Bib.Lib.Intf.API.BookingDTO-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Bib.Lib.Intf.API.BookingDTO'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Bib.Lib.Intf.API.BranchLibraryDTO-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Bib.Lib.Intf.API.BranchLibraryDTO-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Bib.Lib.Intf.API.BranchLibraryDTO-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.Bib.Lib.Intf.API.BranchLibraryDTO'
      total:
        format: int32
        type: integer
  RM.Bib.Lib.Intf.API.BranchLibraryDTO:
    type: object
    properties:
      branchCode:
        format: int32
        type: integer
      branchDescription:
        type: string
      libraryUnits:
        type: array
        items:
          $ref: '#/definitions/RM.Bib.Lib.Intf.API.LibraryUnitDTO'
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Bib.Lib.Intf.API.LibraryUnitDTO:
    type: object
    properties:
      libraryUnitCode:
        format: int32
        type: integer
      libraryUnitDescription:
        type: string
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Lib.Api.RMSJsonResult/-RM.Bib.Lib.Intf.API.BranchLibraryDTO-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.Bib.Lib.Intf.API.BranchLibraryDTO-/'
  System.Web.Http.Results.JsonResult/-RM.Bib.Lib.Intf.API.BranchLibraryDTO-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Bib.Lib.Intf.API.BranchLibraryDTO'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.PaginatedResource/-RM.Bis.NativeProvider.Integration.Api.DTO.BusinessObjectResource-/:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/RM.Bis.NativeProvider.Integration.Api.DTO.BusinessObjectResource'
      nextPageUrl:
        type: string
  RM.Bis.NativeProvider.Integration.Api.DTO.BusinessObjectResource:
    type: object
    properties:
      name:
        type: string
      displayName:
        type: string
      description:
        type: string
      areas:
        type: array
        items:
          type: string
      schemaUrl:
        type: string
      dataUrl:
        type: string
  RM.Bis.NativeProvider.Integration.Api.DTO.BusinessObjectSchemaResource:
    type: object
    properties:
      name:
        type: string
      displayName:
        type: string
      description:
        type: string
      areas:
        type: array
        items:
          type: string
      schemaUrl:
        type: string
      dataUrl:
        type: string
      properties:
        type: array
        items:
          $ref: '#/definitions/RM.Bis.NativeProvider.Integration.Api.DTO.BusinessObjectPropertyResource'
      parameters:
        type: array
        items:
          $ref: '#/definitions/RM.Bis.NativeProvider.Integration.Api.DTO.BusinessObjectParameterResource'
  RM.Bis.NativeProvider.Integration.Api.DTO.BusinessObjectPropertyResource:
    type: object
    properties:
      name:
        type: string
      displayName:
        type: string
      description:
        type: string
      type:
        type: string
      filter:
        $ref: '#/definitions/RM.Bis.NativeProvider.Integration.Api.DTO.PropertyFilter'
      properties:
        type: array
        items:
          $ref: '#/definitions/RM.Bis.NativeProvider.Integration.Api.DTO.BusinessObjectPropertyResource'
  RM.Bis.NativeProvider.Integration.Api.DTO.BusinessObjectParameterResource:
    type: object
    properties:
      name:
        type: string
      displayName:
        type: string
      type:
        type: string
      multiValue:
        type: boolean
  RM.Bis.NativeProvider.Integration.Api.DTO.PropertyFilter:
    type: object
    properties:
      optionsUrl:
        type: string
      isRequired:
        type: boolean
  RM.Bis.NativeProvider.Integration.Api.DTO.GetDataRequest:
    type: object
    properties:
      properties:
        type: array
        items:
          type: string
      filter:
        $ref: '#/definitions/RM.Bis.NativeProvider.Integration.Api.DTO.BusinessObjectFilterRequest'
      parameters:
        type: object
        additionalProperties:
          $ref: '#/definitions/System.Object'
  RM.Bis.NativeProvider.Integration.Api.DTO.BusinessObjectFilterRequest:
    type: object
    properties:
      operator:
        type: string
      property:
        type: string
      values:
        type: array
        items:
          $ref: '#/definitions/System.Object'
      conditions:
        type: array
        items:
          $ref: '#/definitions/RM.Bis.NativeProvider.Integration.Api.DTO.BusinessObjectFilterRequest'
  RM.Lib.Api.PaginatedResource/-System.Object-/:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/System.Object'
      nextPageUrl:
        type: string
  RM.Bis.NativeProvider.Integration.Api.DTO.LookupDataResource:
    type: object
    properties:
      keyProperty:
        type: string
      data:
        type: array
        items:
          $ref: '#/definitions/System.Object'
      descriptor:
        type: object
        additionalProperties:
          type: string
      nextPageUrl:
        type: string
  RM.Bis.BusinessObjects.Sql.Api.Dto.BusinessObjectSqlData:
    type: object
    properties:
      displayName:
        type: string
      description:
        type: string
  RM.Bis.BusinessObjects.Sql.Api.Dto.BusinessObjectSqlSchemaData:
    type: object
    properties:
      properties:
        type: array
        items:
          $ref: '#/definitions/RM.Bis.BusinessObjects.Sql.Api.BusinessObjectSqlPropertyResource'
      parameters:
        type: array
        items:
          $ref: '#/definitions/RM.Bis.BusinessObjects.Sql.Api.BusinessObjectSqlParameterResource'
  RM.Bis.BusinessObjects.Sql.Api.BusinessObjectSqlPropertyResource:
    type: object
    properties:
      name:
        type: string
      displayName:
        type: string
      description:
        type: string
      type:
        type: string
  RM.Bis.BusinessObjects.Sql.Api.BusinessObjectSqlParameterResource:
    type: object
    properties:
      name:
        type: string
      displayName:
        type: string
      type:
        type: string
      multiValue:
        type: boolean
  RM.Bis.BusinessObjects.Sql.Api.BusinessObjectSqlSecurityResource:
    type: object
    properties:
      allowAllUsers:
        type: boolean
      roles:
        type: array
        items:
          $ref: '#/definitions/RM.Bis.BusinessObjects.Sql.Api.BusinessObjectSqlRoleResource'
      id:
        type: string
      displayName:
        type: string
      isActive:
        type: boolean
  RM.Bis.BusinessObjects.Sql.Api.BusinessObjectSqlRoleResource:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
  RM.Bis.BusinessObjects.Sql.Api.Application.CreateBusinessObjectSql.CreateBusinessObjectSqlCommand:
    type: object
    properties:
      areas:
        type: array
        items:
          type: string
      sentenceCompanyCode:
        format: int32
        type: integer
      sentenceApplicationCode:
        type: string
      sentenceCode:
        type: string
      displayName:
        type: string
      description:
        type: string
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Edu.API.Students.CalendarEvent-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Edu.API.Students.CalendarEvent-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Edu.API.Students.CalendarEvent-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.Edu.API.Students.CalendarEvent'
      total:
        format: int32
        type: integer
  RM.Edu.API.Students.CalendarEvent:
    type: object
    properties:
      internalId:
        type: string
      companyCode:
        format: int32
        type: integer
      branchCode:
        format: int32
        type: integer
      levelEducationCode:
        format: int32
        type: integer
      studentCode:
        type: string
      eventType:
        format: int32
        type: integer
      startTime:
        format: date-time
        type: string
      endTime:
        format: date-time
        type: string
      recurrenceInfo:
        type: string
      subject:
        type: string
      description:
        type: string
      allDay:
        type: boolean
      label:
        type: string
      disciplineClassCode:
        format: int32
        type: integer
      lessonPlanCode:
        format: int32
        type: integer
      stepCode:
        format: int32
        type: integer
      assignmentCode:
        format: int32
        type: integer
      offeredActitivyCode:
        type: string
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Lib.Api.RMSJsonResult/-RM.Edu.API.Students.CalendarEvent-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.Edu.API.Students.CalendarEvent-/'
  System.Web.Http.Results.JsonResult/-RM.Edu.API.Students.CalendarEvent-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Edu.API.Students.CalendarEvent'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Bib.Lib.CancelBooking-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Bib.Lib.CancelBooking-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Bib.Lib.CancelBooking-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.Bib.Lib.CancelBooking'
      total:
        format: int32
        type: integer
  RM.Bib.Lib.CancelBooking:
    type: object
    properties:
      companyCode:
        type: string
      bookingCod:
        format: int32
        type: integer
      publicationCode:
        format: int32
        type: integer
      publicationDescription:
        type: string
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Lib.Api.RMSJsonResult/-RM.Bib.Lib.CancelBooking-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.Bib.Lib.CancelBooking-/'
  System.Web.Http.Results.JsonResult/-RM.Bib.Lib.CancelBooking-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Bib.Lib.CancelBooking'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.EduPS.Lib.CandidateSelectiveProcessDto-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.EduPS.Lib.CandidateSelectiveProcessDto-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.EduPS.Lib.CandidateSelectiveProcessDto-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
          $ref: '#/definitions/RM.EduPS.Lib.CandidateSelectiveProcessDto'
      total:
        format: int32
        type: integer
  RM.EduPS.Lib.CandidateSelectiveProcessDto:
    type: object
    properties:
      companyCode:
        format: int32
        type: integer
      branchCode:
        format: int32
        type: integer
      selectiveProcessCode:
        format: int32
        type: integer
      chosenCourseCode:
        format: int32
        type: integer
      inscriptionNumber:
        format: int32
        type: integer
      candidateUserCode:
        format: int32
        type: integer
      candidateUserName:
        type: string
      customData:
        $ref: '#/definitions/System.Object'
      links:
        type: array
        items:
          $ref: '#/definitions/RM.Lib.Api.RMSApiLink'
        readOnly: true
  RM.Lib.Api.RMSJsonResult/-RM.EduPS.Lib.CandidateSelectiveProcessDto-/:
    type: object
    properties:
      statusCode:
        format: int32
        enum:
          - 100
          - 101
          - 200
          - 201
          - 202
          - 203
          - 204
          - 205
          - 206
          - 300
          - 300
          - 301
          - 301
          - 302
          - 302
          - 303
          - 303
          - 304
          - 305
          - 306
          - 307
          - 307
          - 400
          - 401
          - 402
          - 403
          - 404
          - 405
          - 406
          - 407
          - 408
          - 409
          - 410
          - 411
          - 412
          - 413
          - 414
          - 415
          - 416
          - 417
          - 426
          - 500
          - 501
          - 502
          - 503
          - 504
          - 505
        type: integer
      location:
        type: string
      jsonResult:
        $ref: '#/definitions/System.Web.Http.Results.JsonResult/-RM.EduPS.Lib.CandidateSelectiveProcessDto-/'
  System.Web.Http.Results.JsonResult/-RM.EduPS.Lib.CandidateSelectiveProcessDto-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.EduPS.Lib.CandidateSelectiveProcessDto'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  System.Web.Http.Results.JsonResult/-RM.Lib.Api.ApiQueryResponse/-RM.Sau.Cadastros.Dto.CareUnit-/-/:
    type: object
    properties:
      content:
        $ref: '#/definitions/RM.Lib.Api.ApiQueryResponse/-RM.Sau.Cadastros.Dto.CareUnit-/'
        readOnly: true
      serializerSettings:
        $ref: '#/definitions/Newtonsoft.Json.JsonSerializerSettings'
        readOnly: true
      encoding:
        $ref: '#/definitions/System.Text.Encoding'
        readOnly: true
      request:
        $ref: '#/definitions/System.Object'
        readOnly: true
  RM.Lib.Api.ApiQueryResponse/-RM.Sau.Cadastros.Dto.CareUnit-/:
    type: object
    properties:
      hasNext:
        type: boolean
      items:
        type: array
        items:
[...]
